---
import "../../styles/process.scss";

const processSteps = [
  {
    icon: "/assets/icons/insta.png",
    title: "1. REQUEST A BID",
    text: "Request sent through email, contact tab on website, fax or phone.",
  },
  {
    icon: "/assets/icons/insta.png",
    title: "2. PRELIMINARY PLANNING",
    text: "Upon award, review of all drawings reflecting our scope. Diagnosing scheduling and budget conflicts, RFI’s and clarifications will be issued.",
  },
  {
    icon: "/assets/icons/insta.png",
    title: "3. LEAN PLANNER SYSTEM",
    text: "Work through a series of principles to achieve a waste free operation, maximizing customer value by extracting major milestones and pulling back to achieve a high level schedule and budget.",
  },
  {
    icon: "/assets/icons/insta.png",
    title: "4. CONSTRUCTION PHASE",
    text: "Once material deliveries, pour sequences and lay-down areas are clear, the construction phase will start. Our site safety representative will integrate the construction plan in accordance with Perma-Cast’s safety policy.",
  },
  {
    icon: "/assets/icons/insta.png",
    title: "6. COMPLETION & QA CHECK",
    text: "Once the job is completed, our team will revisit to ensure the quality is to CSA standards and re-evaluate our strengths, weakness, threats and opportunities.",
  },
];

import formwork from "/assets/process/formwork.jpeg";
import reinforcing from "/assets/process/reinforcing.jpeg";
import pump from "/assets/process/pump.jpeg";
---

<section class="process">
  <div class="container">
    <div class="heading">
      <h2>OUR PROCESS</h2>
      <div class="line"></div>
    </div>

    <div class="grid">
      {
        processSteps.map((step) => (
          <div class="step">
            <div class="icon">
              <img src={step.icon} alt="" role="presentation" />
            </div>
            <h3>{step.title}</h3>
            <p>{step.text}</p>
          </div>
        ))
      }
    </div>

    <div class="flex">
      <div class="service-image">
        <h3>FORMWORK</h3>
        <div class="overlay"></div>
        <img src={formwork} alt="" role="presentation" loading="lazy" />
      </div>
      <div class="service-image">
        <h3>REINGFORCING INSTALLATION</h3>
        <div class="overlay"></div>
        <img src={reinforcing} alt="" role="presentation" loading="lazy" />
      </div>
      <div class="service-image">
        <div class="overlay"></div>
        <h3>PUMP PLACE & FINISH</h3>
        <img src={pump} alt="" role="presentation" loading="lazy" />
      </div>
    </div>
  </div>
</section>
