---
import "../../styles/featuredProjects.scss";

import * as featured1 from "../../content/projects/featured/1-NewHorizon.md";
import * as featured2 from "../../content/projects/featured/2-QuaryPark.md";
import * as featured3 from "../../content/projects/featured/3-FrontStreetMedical.md";



export interface Props {
  title: string,
  current?: boolean,
  completed?: boolean,
  featured?: boolean,
}

const {title, current, completed, featured} = Astro.props as Props

//get Markdown files for featured, current, and completed projects
const featuredArr = [featured1, featured2, featured3];


let mapArr = featuredArr;

if (current) {
  const currentArr = await Astro.glob("../../content/projects/*.md")
}
---

<section class="featured">
  <div class="container">
    <div class="heading">
      <h2>{title}</h2>
      <div class="line"></div>
    </div>

    <div class="flex">
      
      {mapArr.map(featured => {
        const {title, image, client, location} = featured.frontmatter
        return (
        <div class="item">
          <h3>{title}</h3>
          <img
            src={image}
            alt=`${title} project image`
            loading="lazy"
          />
          <div class="text">
            <p>{client}</p>
            <p>{location}</p>
          </div>
        </div>)

      })}
    </div>

    <a href="/projects"><button class="btn">View More</button></a>
  </div>
</section>
