---
import "../../styles/featuredProjects.scss";

import * as featured1 from "../../content/projects/1.md";
import * as featured2 from "../../content/projects/2.md";
import * as featured3 from "../../content/projects/3.md";

const featuredArr = [featured1, featured2, featured3];
---

<section class="featured">
  <div class="container">
    <div class="heading">
      <h2>OUR PROJECTS</h2>
      <div class="line"></div>
    </div>

    <div class="flex">
      {featuredArr.map(featured => {
        const {title, image, client, location} = featured.frontmatter
        return (
        <div class="item">
          <h3>{title}</h3>
          <img
            src={image}
            alt=`${title} project image`
            loading="lazy"
          />
          <div class="text">
            <p>{client}</p>
            <p>{location}</p>
          </div>
        </div>)

      })}
    </div>

    <a href="/projects"><button class="btn">View More</button></a>
  </div>
</section>
