---
import "../styles/ourProjects.scss";

import * as featured1 from "../content/projects/1-NewHorizon.md";
import * as featured2 from "../content/projects/2-QuaryPark.md";
import * as featured3 from "../content/projects/3-FrontStreetMedical.md";



export interface Props {
  title: string,
  isCurrent?: boolean,
  isCompleted?: boolean,
  isFeatured?: boolean,
}

const {title, isCurrent, isCompleted, isFeatured} = Astro.props as Props

//get Markdown files for featured, current, and completed projects
const featuredArr = [featured1, featured2, featured3];


let mapArr: any[] = featuredArr;

if (isCurrent || isCompleted) {
  const projectsArr = await Astro.glob("../content/projects/*.md");
  mapArr = projectsArr;
}

if(isFeatured){
  mapArr = featuredArr;
}


---

<section class={isCurrent ? "featured pb0" : isCompleted?  "pt0 featured" : "featured" }>
  <div class="container">
    <div class="heading">
      <h2>{title}</h2>
      <div class="line"></div>
    </div>

    <div class="grid">   
      {mapArr.map(project => {
        const {title, slug, image, client, location, featured, completed} = project.frontmatter

        if(isFeatured && !featured) return;
        if(isCompleted && !completed) return;
        if(isCurrent && completed) return;

        return (
          <a href={slug}>
            <div class="item">
              <h3>{title}</h3>
              <img
                src={image}
                alt=`${title} project image`
                loading="lazy"
              />
              <div class="text">
                <p>{client}</p>
                <p>{location}</p>
              </div>
            </div> 
          </a>
          )
        })
      } 

    </div>

    {isFeatured && <a href="/projects"><button class="btn">View More</button></a>}
  </div>
</section>
