---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../content/projects/*.md");

  return projects.map((project) => ({
    params: {
      slug: project.frontmatter.slug,
    },
    props: {
      project,
    },
  }));
}

const { Content, frontmatter } = Astro.props.project;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container">
      <Card dark={true}>
        <a href="/projects" class="go-back">
          <button class="btn"><span>&#8592;</span> Go Back</button>
        </a>
        <h2>{frontmatter.title}</h2>
        <div class="project-image">
          <img
            src={frontmatter.image}
            alt={`${frontmatter.title} image`}
            loading="eager"
          />
        </div>

        <Content />
      </Card>
    </div>
  </section>
</Layout>
